
    #logo {
        width: 50px; /* Ajusta el tamaño del logo */
        }

    .h1 {
        font-size: 36px; /* Ajusta el tamaño de la fuente del título */
        }
    
        *{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        box-sizing: border-box;
        }
    body {
        margin: 0;
        padding: 0;    
        }
    header {
        background-color: gainsboro;
        color: black;
/*        padding: 10px 0; */
        text-align: center;
        }
    nav {
        margin-top: 10px;
        }
    nav a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        }
    .not-active {
            cursor: not-allowed;
            pointer-events: none;
        }
/*    main {
        padding: 20px; 
        }*/

    .section {
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }
    #tieDialog{
        padding-bottom: 8px;
        padding-top: 8px;
    } 
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        }
    .card {
        border: 1px solid #ccc;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 475px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    .card-img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        }
    .card-body {
        padding: 15px;
        }
    .card-title {
        font-size: 1.5em;
        margin: 0 0 10px;
        }
    .card-text {
        font-size: 1em;
        margin: 0 0 15px;
        }
    .card-enlace {
            display: inline-block;
            padding: 0; /* Elimina el padding */
            background: none; /* Sin fondo */
            border: none; /* Sin bordes */
            color: #007BFF; /* Color del texto */
            position: absolute;
            bottom: 4px; /* Distancia desde el fondo del div */
            left: 5px; /* Distancia desde el izq del div */
            cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
            font-size: 16px; /* Tamaño del texto */
            text-decoration: underline; /* Subrayado */
        }

    .card-enlace:hover {
            color: #0056b3; /* Cambia el color en el hover */
        }
    .card-enlace:focus {
            outline: none; /* Elimina el contorno al hacer clic */
        }
    .card-boton {
            display: inline-block;
            position: absolute;
            bottom: 4px; /* Distancia desde el fondo del div */
            right: 5px; /* Distancia desde el derecho del div */
            cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
            text-decoration: none; /* Subrayado */
        }

    .card-boton:hover {
            color: #0056b3; /* Cambia el color en el hover */
        }
    .card-boton:focus {
            outline: none; /* Elimina el contorno al hacer clic */
        }
    .caja {
        border: 1px solid #ccc;
        overflow: hidden;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    footer {
        background-color: white;
        color: black;
        text-align: center;
        padding: 0px;
        position: fixed; 
        bottom: 0;
        width: 100%;
        font-size: 0.6em;
        }
    #gruposProducto {
        background-color: whitesmoke;

    }
    #FAQS {
        background-color: white;
        
    }
    #contacto {
        background-color: white;
        
    }
    /* Para card y tabla en paralelo en productosExistencias*/
    #viewProExi{
        display:flex;
        justify-content: space-between;
        gap: 2px;
        padding:0;
        list-style: none;
        /*flex-direction: row ;
        flex-direction: column ;*/
      }  

    #viewProExi li{
        background: white;
        flex:1;
      }
   
    .table tbody tr:nth-child(odd) {
        background: #fff5e0;
    }
    .table tbody tr:nth-child(even) {
        background: #fdf8ef;
    }
    .table thead {
      background: #444;
      color: #fff;
      font-size: 18px;
    }
    .table {
    /*  border-collapse: collapse; */
      width: 100%;
    }
    thead {color:green;}
    tbody {color:blue;}
    tfoot {color:red;}

    /* Iconos */              
    .icoCarro {font-size: 20px;}
    .icoBasu {font-size: 20px;}
    .icoEscr {font-size: 20px; opacity : 0}
    .icoDown {font-size: 20px;}
    
    .invisible {opacity: 0;}
    