
    *{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        box-sizing: border-box;
        }
    body {
        margin: 0;
        padding: 0;
        
        }
    header {
        background-color: gainsboro;
        color: black;
        padding: 10px 0;
        text-align: center;
        }
    nav {
        margin-top: 10px;
        }
    nav a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        }
    main {
        padding: 20px;
        }
    .section {
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        }
    .card {
        border: 1px solid #ccc;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 430px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    .card-img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        }
    .card-body {
        padding: 15px;
        }
    .card-title {
        font-size: 1.5em;
        margin: 0 0 10px;
        }
    .card-text {
        font-size: 1em;
        margin: 0 0 15px;
        }
    .card-enlace {
            display: inline-block;
            padding: 0; /* Elimina el padding */
            background: none; /* Sin fondo */
            border: none; /* Sin bordes */
            color: #007BFF; /* Color del texto */
            position: absolute;
            bottom: 4px; /* Distancia desde el fondo del div */
            left: 5px; /* Distancia desde el izq del div */
            cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
            font-size: 16px; /* Tamaño del texto */
            text-decoration: underline; /* Subrayado */
        }

    .card-enlace:hover {
            color: #0056b3; /* Cambia el color en el hover */
        }
    .card-enlace:focus {
            outline: none; /* Elimina el contorno al hacer clic */
        }
    .card-boton {
            display: inline-block;
            position: absolute;
            bottom: 4px; /* Distancia desde el fondo del div */
            right: 5px; /* Distancia desde el derecho del div */
            cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
            text-decoration: none; /* Subrayado */
        }

    .card-boton:hover {
            color: #0056b3; /* Cambia el color en el hover */
        }
    .card-boton:focus {
            outline: none; /* Elimina el contorno al hacer clic */
        }
    .caja {
        border: 1px solid #ccc;
        overflow: hidden;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    footer {
        background-color: gainsboro;
        color: white;
        text-align: left;
        padding: 0px;
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: 0.75em;
        }
    #gruposProducto {
        background-color: whitesmoke;

    }
    #FAQS {
        background-color: white;
        
    }
    #contacto {
        background-color: white;
        
    }
   
    table tbody tr:nth-child(odd) {
        background: #fff5e0;
    }
    table tbody tr:nth-child(even) {
        background: #fdf8ef;
    }
    table thead {
      background: #444;
      color: #fff;
      font-size: 18px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    thead {color:green;}
    tbody {color:blue;}
    tfoot {color:red;}
 